# Task 01 - Introduction to Pandas

For this task, we will go through a simple **Fruit Dataset** and use **Pandas** to display the different Fruit types (apple, mandarin, orange, and lemon) in our dataset.

## Import required modules

In [ ]:
import pandas as pd

## Basic Requirements: Look at Your Data

### Question 1

Using a DataFrame can help make many things easy with less code, so let's practice creating a classifier with a pandas DataFrame.

**Using `read_table`, create a dataframe and keep in mind that the dataset file `data.txt` should be in the same folder as your python file.**

### Question 2

How many data points (**Number of Instances**) and features (**Number of Attributes**) does the fruit dataset have?

(59, 7)

### Question 3

Using `head` display the first 8 instancs of the fruit dataset.

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79
5            2   mandarin      mandarin    80    5.8     4.3         0.77
6            2   mandarin      mandarin    80    5.9     4.3         0.81
7            2   mandarin      mandarin    76    5.8     4.0         0.81

## Extra Requirements

### Bonus
What is the class distribution? (i.e. how many instances of `apple`(encoded 1), `mandarin`(encoded 2), `orange`(encoded 3), and `lemon`(encoded 4))

apple       19
mandarin     5
orange      19
lemon       16
dtype: int64